body {
    background-image: url(https://i.pinimg.com/originals/70/dc/6d/70dc6d52f887888ac7e6ae705cfe6a95.gif);
    width: 100%;
    height: 100%;
}

.planetsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(27, 107, 114);
}

.homeForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1%;
}

.formDiv{
    font-weight: bold;
}

.formDiv div{
    margin: 5px;
}

.formDiv div input{
    border: none;
    border-radius: 20px;
    padding: 5px 0;
    padding-left: 5px;
}

.btn{
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}
.btn:hover{
    color: rgb(27, 107, 114);
    background-color: white;
}

.planetImg {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.planetContainer {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 20px 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.planetContainerTitle {
    width: 100%;
    height: 50px;
    border-radius: 16px 16px 0 0;
    text-align: center;
    text-decoration: none;
    background: rgba(44, 174, 186, 0.44);
    font-size: 1.8rem;
    font-weight: bold;
}

.planetContainerTitle:hover{
    background-color: rgba(255, 255, 255, 0.44);
}

.planetContainerTitle h4 {
    font-size: 2rem;
}

.description {
    width: 85%;
}

/* sigle planet */
.singlePlanetContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singlePlanet{
    height: fit-content;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.imgDescr{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 15px;
}

.singleDescr{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.title{
    font-size: 2rem;
}

.satellitesFrom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(44, 174, 186, 0.44);
    border-radius: 0 0 16px 16px;
}

.satellitesBtn{
    display: flex;
}